# Ignorar dependências locais e build
node_modules
.next
tsconfig.tsbuildinfo

# Ignorar arquivos Git
.git
.gitignore

# Ignorar arquivos Docker
Dockerfile
.dockerignore
.env
.env*.local

# Ignorar pasta de tokens do WPPConnect (será montada via disco persistente)
tokens/

# Ignorar logs e arquivos temporários
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignorar arquivos do SO
.DS_Store
Thumbs.db